In [7]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
projects_df = pd.read_csv('output.csv', sep=',')

In [11]:
projects_df.head()

,project_id,viewers_website,lovers_website,downloaders_website,sprites_website,scripts_website,blocks,block_types,images,sounds,ugstrings
0,2437817,0.000000,0.010461,0.0,0.001869,0.027235,0.000197,0.016949,0.000111,0.002783,0.008949
1,2437816,0.000000,0.010439,0.0,0.001544,0.027235,0.000212,0.042373,0.000056,0.002621,0.009175
2,2437815,0.000000,0.010454,0.0,0.002255,0.027240,0.000217,0.050847,0.000056,0.002621,0.009169
3,2437814,0.000032,0.010549,0.0,0.001544,0.027235,0.000337,0.084746,0.000223,0.002702,0.009224
4,2437813,0.000000,0.010642,0.0,0.003496,0.027332,0.000562,0.194915,0.000501,0.002621,0.009202

In [21]:
a=list(projects_df.columns)

['viewers_website',
 'lovers_website',
 'downloaders_website',
 'sprites_website',
 'scripts_website',
 'blocks',
 'block_types',
 'images',
 'sounds',
 'ugstrings']

In [22]:
newfile=projects_df[a[1:11]]

In [23]:
newfile.head()

,viewers_website,lovers_website,downloaders_website,sprites_website,scripts_website,blocks,block_types,images,sounds,ugstrings
0,0.000000,0.010461,0.0,0.001869,0.027235,0.000197,0.016949,0.000111,0.002783,0.008949
1,0.000000,0.010439,0.0,0.001544,0.027235,0.000212,0.042373,0.000056,0.002621,0.009175
2,0.000000,0.010454,0.0,0.002255,0.027240,0.000217,0.050847,0.000056,0.002621,0.009169
3,0.000032,0.010549,0.0,0.001544,0.027235,0.000337,0.084746,0.000223,0.002702,0.009224
4,0.000000,0.010642,0.0,0.003496,0.027332,0.000562,0.194915,0.000501,0.002621,0.009202

In [25]:
cosine_similarity?

In [26]:
df = pd.DataFrame(np.random.randint(0, 2, (3, 5)))

In [27]:
df

   0  1  2  3  4
0  0  0  1  1  0
1  0  0  1  0  1
2  1  0  0  1  1

In [30]:

cosine_similarity(df).reshape(1,-1)

AttributeError: 'DataFrame' object has no attribute 'reshape'